
<center>

<h1>Log In</h1>

<%= render partial: "form" %>

<p><%= link_to('Log in with Github', '/auth/github') %></p>

<p><%= link_to "Sign Up", signup_path %><br>
  <%= link_to "Home", '/' %><br>
  </p>

<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

</center>
