
<center>

<h1>Log In</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <p>
    <%= f.label :username, "Username: " %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Log In" %>
<% end %>

<p><%= link_to "Sign Up", signup_path %><br>
  <%= link_to('Log in with Github', '/auth/github') %></p>

<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

</center>
