<% if @user.shares.length > 0 %>
<div class="stocks">
    <p>Company Name: <%= @user.shares[0].stock.company_name %><br>
      Shares: <%= @user.shares[0].quantity %><br>
      Equity: $<%= @user.shares[0].quantity * @user.shares[0].price %></p>
</div>

<button id="previous_stock_browser" data-user_id="<%= @user.id %>">Previous</button>

<button id="stock_browser" data-user_id="<%= @user.id %>" data-share_index="0" data-share_length="<%= @user.shares.length %>"data-stock_id='<%= @user.shares[0].id %>'>Next</button><br><br>
<% else %>
  You have no stocks right now<br><br>
<% end %>
