<center>

<h1>Create New User</h1>

<%= render partial: "form" %>

<p>OR</p>

<p><%= link_to('Sign Up With Github', '/auth/github') %></p>

<%= link_to "Home", '/' %><br><br>

<% if flash[:message].is_a?(Array) %>
  <% flash[:message].each do |message| %>
    <%= message %><br>
  <% end %>
<% else %>
  <%= flash[:message] %>
<% end %>

</center>
