<center>



<h4><%= "#{@user.first_name} #{@user.last_name}'s Account(s)" %></h4>

<% @user.accounts.each do |account| %>
  <p><%= link_to account.type_of_account, account_path(account) %></p>
  <p><%= "$#{account.balance}" %></p>
<% end %>

<%= link_to "Open Account", new_user_account_path(@user) %><br>
<%= link_to "Manage Account", user_accounts_path(@user) %><br><br>
<%= link_to "Home", '/' %><br>
<%= link_to "Settings", edit_user_path %><br>
<%= link_to "Log Out", logout_path %>

<p>
<% if flash[:message].is_a?(Array) %>
  <% flash[:message].each do |message| %>
    <%= message %>
  <% end %>
<% else %>
  <%= flash[:message] %>
<% end %>
</p>

</center>
