<center>

<h4><%= "#{@user.first_name} #{@user.last_name}"%></h4>

<a href="/users/<%= @user.id %>/accounts" id="accounts">View Accounts</a>

  <% @user.accounts.each do |account| %>
    <p><%= link_to account.type_of_account, account_path(account) %></p>
    <p><%= "#{account.balance}" %></p>
  <% end %>



<h4><%= "#{@user.first_name} #{@user.last_name}'s Stocks"%></h4>

<% @user.shares.each do |share| %>
  <p>Company Name: <%= share.stock.company_name %><br>
    Shares: <%= share.quantity %><br>
    Equity: $<%= share.quantity * share.price %>
  </p>
<% end %>

<%= link_to "Open Account", new_user_account_path(@user) %><br>
<%= link_to "Manage Accounts", user_accounts_path(@user) %><br><br>
<%= link_to "Home", '/' %><br>
<%= link_to "Settings", edit_user_path %><br>
<%= link_to "Log Out", logout_path %>

<p>
<% if flash[:message].is_a?(Array) %>
  <% flash[:message].each do |message| %>
    <%= message %>
  <% end %>
<% else %>
  <%= flash[:message] %>
<% end %>
</p>

</center>
