<center>

<h4><%= "#{@user.first_name} #{@user.last_name}"%></h4>

<button id="user_accounts" data-id="<%= @user.id %>">View Accounts</button>
<div class="accounts">
</div>

<h4><%= "Your Stocks"%></h4>

<div class="stocks">
  <% if @user.shares.length > 0 %>
  <p>Company Name: <%= @user.shares[0].stock.company_name %><br>
    Shares: <%= @user.shares[0].quantity %><br>
    Equity: $<%= @user.shares[0].quantity * @user.shares[0].price %></p>
  <button id="stock_browser" data-user_id="<%= @user.id %>" data-stock_id='<%= @user.shares[0].id %>'>Next</button><br><br>
  <% end %>
</div>



<%= link_to "Open Account", new_user_account_path(@user) %><br>
<%= link_to "Manage Accounts", user_accounts_path(@user) %><br><br>
<%= link_to "Home", user_path(@user) %><br>
<%= link_to "Settings", edit_user_path %><br>
<%= link_to "Log Out", logout_path %>

<p>
<% if flash[:message].is_a?(Array) %>
  <% flash[:message].each do |message| %>
    <%= message %>
  <% end %>
<% else %>
  <%= flash[:message] %>
<% end %>
</p>

</center>
